<div id="app">
  <div id="weather-box"></div>
  <% if current_user %>
  <div id="user-id"><%= current_user.id %></div>
  <% end %>
  <div id="milesBox">
    <span id="rideMiles"></span> mi
  </div>

  <input id="origin-input" v-model="newOrigin" class="controls" type="text"
      placeholder="Enter an origin location">

  <input id="destination-input" v-model="newDestination" class="controls" type="text"
      placeholder="Enter a destination location">

  <div id="map">
  </div>
  <div id="save-ride">
  <% if current_user %>
    <a class="btn btn-block ride-button" v-on:click="createRide()" href="/users/<%= current_user.id %>">Start My Ride</a>
  </div>
  <% else %>
  <a class="btn btn-block ride-button" href="/login">Log In To Track Miles</a>
  <% end %>
  </div>

  <% if !current_user %>
    <div id="front-page">
      Bike Parkway
      <i class="fa fa-bicycle" aria-hidden="true"></i>
  </div>

  <div id="front-page-buttons">
    <a href="/login">Login</a>
    <i class="fa fa-road" aria-hidden="true"></i>
    <a href="/signup">Signup</a>
  </div>
  <% else %>
    <div id="front-page">
      Bike Parkway
      <i class="fa fa-bicycle" aria-hidden="true"></i>
    </div>

    <div id="front-page-buttons">
      <a href="/users/<%= current_user.id %>">Home</a>
    </div>
  <% end %>

</div>

<footer class="footer">
  <% if current_user %>
    <a href="/users/<%= current_user.id %>">Home</a>
    <span class="chain-link">-</span>
    <a href="/logout">Log Out</a>
  <% else %>
    <a href="/login">Log In</a>
    <span class="chain-link">-</span>
    <a href="/signup">Sign Up</a>
  <% end %>
</footer>

<script src="map.js">
</script>
<script src="rides.js">
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&libraries=places&callback=initMap">
</script>
