<h1>Rides Show Page</h1>

<p>ID: <%= @ride.id %></p>
<p>Starting Location: <%= @ride.starting_location %></p>
<p>Ending Location: <%= @ride.ending_location %></p>

<% if current_user %>
  <p>User email: <%= @ride.user.email %></p>
<% end %>
<div id="map"></div>
<script>
  function initMap() {
    var start_input = {
      lat: <%= @start_latitude %>, 
      lng: <%= @start_longitude %>
    };
    var middle_input = {
      lat: <%= (@start_latitude + @end_latitude)/2 %>,
      lng: <%= (@start_longitude + @end_longitude)/2 %>

    };
    var end_input = {
      lat: <%= @end_latitude %>,
      lng: <%= @end_longitude %>
    };

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: middle_input
    });
    var marker1 = new google.maps.Marker({
      position: start_input,
      map: map
    });
    var marker2 = new google.maps.Marker({
      position: end_input,
      map: map
    })
  }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap">
</script>

<p>Latitude: <%= @start_latitude %></p>

<%= @ride_directions %>
